/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  width: 100%;
  background-color: blueviolet;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.menu h3,
.menu ul,
.menu li {
  display: inline-block;
}

.menu li {
  margin: 0px 5px;
}

.menu li a {
  text-decoration: none;
  color: aliceblue;
}

.container {
  margin: 20px 50px;
}

.principal {
  margin-bottom: 30px;
}

.centrar {
  text-align: center;
}

.principal img {
  margin: 20px 0px;
  width: 50%;
}

.nota {
  width: 400px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 0;
}

.nota img {
  width: 100%;
  height: 200px;
}
.nota section {
  padding: 0px 10px;
}
.nota footer {
  padding: 10px;
}

.footer {
  padding: 20px;
  background-color: blueviolet;
  text-align: center;
  color: white;
}
